<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sysname}"></title>
    <link rel="stylesheet" media="screen" href="css/login.css">
    <script type="application/javascript" data-main="app/app.js" src="./js/require.js" ></script>
    <script>
        requirejs(['login.login']);//加载js文件
    </script>
</head>
<body>
<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
</div>
<div class="login-page" id="dv_login">
    <div class="login-content">
        <div id="dv_show_time" class="login-tit" >登录</div>
        <div class="login-input">
            <input type="text" name="loginName" id="ipt_loginName" placeholder="登录名">
        </div>
        <div class="login-input">
            <input type="password" name="password" id="ipt_password" placeholder="密码">
        </div>
        <div class="login-btn" >
            <div class="login-btn-left" id="btn_login">
                <span>登录</span>
            </div>
            <div class="login-btn-right" id="dv_rememberMe" >
                <img src="img/checked.png" alt="" id="picture"> 记住密码
            </div>
        </div>
    </div>
</div>

<div id="systime" th:text="${systime.time}"></div>
</body>


</html>